* {
	margin: 0;
}
html, body {
	height: 100%;
  font-family: 'Helvetica Neue';
  background-color: #eee;
}
#drop_zone {
  margin: 20px;
  min-height: 20%;
  padding: 15%;
  border: 10px dashed gray;
  text-align: center;
  font-size: 200%;
  color: gray;

}
#drop_zone.files_hovering_over {
  color: darkred;
  background-color:lightgray;
}

#drop_zone.error {
  color: lightgray;
  background-color:darkred;
}

#list {
  padding-bottom: 3em;
}

#list .scene {
  padding: 10px;
  float:left;
}
#list .scene img{
  max-height: 150px;
}
#list .scene.miniature{
  padding:5px;
  margin:0px;
}
#list .scene.miniature img{
  max-height: 70px;
}

#list .cluster {
  margin: 20px;
  padding: 10px;
  border: 3px solid grey;
  background-color: lightgrey;
  display:table;
  border-radius: 5px/5px;  
}

#list .cluster.selected {
  border-color: darkred;
  background-color: red;
}


#footer {
  font-size: 1.2em;
  background-color: lightgrey;
  color: grey;
  border-top: 1px solid grey;
  padding: 0.4em;
  bottom:0;
  position:fixed;
  width: 100%;
  opacity: 0.9;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:2em;
}

