* {
	margin: 0;
}
html, body {
	height: 100%;
}
#drop_zone {
  min-height: 150px;
  border: 1px dotted gray;
}
.files_hovering_over {
  background-color:red;
}
#list {
  padding-bottom: 3em;
}
#list .scene {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  padding: 10px;
  margin: 10px;
  max-height: 150px;
  display:table;
}
#list .scene img:nth-child(1) {
  padding-right: 10px;
  padding-left: 10px;
}

#footer {
  background-color: lightgrey;
  border-top: 1px solid black;
  padding: 0.2em;
  bottom:0;
  position:fixed;
  width: 100%;
  opacity: 0.9;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:2em;
}

